.grid_12

  %ul#breadcrumb
    %li.home
      %a{ :href => '/'} Home
    %li
      %a{ :href => '/directorates' } Directorates
    %li
      = @directorate.name
      
  %h2= @page_title = @directorate.name + " Directorate"
  
.clear

.grid_6  

  %h3 Services
  
  - for service in @directorate.services
    %p
      %a{ :href => "/services/#{service.slug}" }
        = service.name

.grid_6

  %h3 Suppliers 

  - for supplier in @directorate.suppliers
    %p
      %a{ :href => "/suppliers/#{supplier.slug}" }
        = supplier.name  
