!!! XML
!!!
%html
  %head
    %title= @page_title ? @page_title + " - " + SETTING.site_name : SETTING.site_name

    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/print.css', :media => 'print' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/grid.css' }

    %script{:type => 'text/javascript', :src => '//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/js/jquery.cookie.js'}

    - if SETTING.google_analytics_id
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', "#{SETTING.google_analytics_id}"]);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body
    .container_12
      .grid_12
        %h1.logo
          = SETTING.site_name
          - if SETTING.site_tagline
            %span.tagline
              = SETTING.site_tagline
        #nav.noprint
          %a{ :href => '/' } Home
          %a{ :href => '/services' } Services
          %a{ :href => '/suppliers' } Suppliers
      = yield
      .clear  
      #footer
        .grid_12.top_border
          %p
            An independent website by
            %a{ :href => 'https://adrianshort.org/' }<
              Adrian Short.
            %a{ :href => "https://github.com/adrianshort/armchair-auditor" }<
              Get the code.
 