.grid_9
  %h2= @page_title = "Payment " + @payment.id.to_s
  
  %table
    %tr
      %td Date
      %td= nicedate(@payment.d)
    %tr
      %td Transaction
      %td= @payment.transaction_id
    - unless @payment.service.directorate.nil?
      %tr
        %td Directorate
        %td
          %a{ :href => "/directorates/#{@payment.service.directorate.slug}" }
            = @payment.service.directorate.name
    %tr
      %td Service
      %td
        %a{ :href => "/services/#{@payment.service.slug}" }
          = @payment.service.name
    %tr
      %td Supplier
      %td
        %a{ :href => "/suppliers/#{@payment.supplier.slug}" }
          = @payment.supplier.name
    %tr
      %td Amount &pound;
      %td= commify(sprintf("%0.2f", @payment.amount))
.clear
= haml :_disqus_comments
