.grid_9
  %h2= @page_title = "Payment " + @payment.id.to_s
  
  %table
    %tr
      %td Date
      %td= @payment.d.strftime("%d %b %Y")
    %tr
      %td Directorate
      %td
        %a{ :href => "/directorates/#{@payment.service.directorate.slug}" }
          = @payment.service.directorate.name
    %tr
      %td Service
      %td
        %a{ :href => "/services/#{@payment.service.slug}" }
          = @payment.service.name
    %tr
      %td Supplier
      %td
        %a{ :href => "/suppliers/#{@payment.supplier.slug}" }
          = @payment.supplier.name
    %tr
      %td Amount &pound;
      %td= sprintf("%0.2f", @payment.amount)
.clear
<div class="grid_9 noprint">
= haml_partial "comment_header"
<div id="disqus_thread" class="noprint"></div>
<script type="text/javascript">
var disqus_developer = 1;
(function() {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = 'http://armchairauditor.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=armchairauditor">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink noprint">Comments powered by <span class="logo-disqus">Disqus</span></a>
</div>