%table
  %tr
    %th Date
    %th Ref.
    %th Transaction
    %th Supplier
    %th.right &pound;
      
  - for payment in @payments
    %tr
      %td= payment.d.strftime("%d&nbsp;%b&nbsp;%Y")
      %td.right
        %a{ :href => "/payments/#{payment.id}" }
          = payment.id
      %td.right= payment.transaction_id
      %td
        %a{ :href => '/suppliers/' + payment.supplier.slug }
          = payment.supplier.name
      %td.right= commify(sprintf("%0d", payment.amount))
        
  %tr
    %td
    %td
    %td
    %td
      %strong TOTAL
    %td.right= commify(sprintf("%0d", @total))