.grid_12
  %ul#breadcrumb
    %li.home
      %a{ :href => '/'} Home
    %li
      %a{ :href => '/services' } Services
    %li
      = @service.name

  %h2= @page_title = @service.name
  
  %p
    A service in the 
    %a{ :href => '/directorates/' + @service.directorate.slug }
      = @service.directorate.name
      Directorate

  %p.noprint
    %a{ :href => "/services/#{@service.slug}/payments" }
      Payments to Suppliers details for
      = @service.name
      &raquo;

.clear

.grid_9 

  %h3
    Summary for
    = nicedate(@d_start)
    to
    = nicedate(@d_end)

  %table
    %tr
      %th.right Payments
      %th.right Total
      %th.right Max
      %th.right Min
      %th.right Average

    %tr
      %td.right= commify(@count)
      %td.right= commify(sprintf("&pound;%0d", @total))
      %td.right= commify(sprintf("&pound;%0d", @max))
      %td.right= commify(sprintf("&pound;%0d", @min))
      %td.right= commify(sprintf("&pound;%0d", @avg))
  
  %h3
    Suppliers by Spend for
    = nicedate(@d_start)
    to
    = nicedate(@d_end)
    
      
  %table
    %tr
      %th Supplier
      %th Total &pound;
      %th Total %
    - for row in @results
      %tr
        %td
          %a{ :href => "/suppliers/#{row['supplier_slug']}" }
            = row['supplier_name']
        %td.right= commify(sprintf("%0d", row['total']))
        %td.right= sprintf("%0.1f", row['total'] / @total * 100)
  
.clear

.grid_9.noprint
  = haml_partial "disqus_comments"