.grid_12
  %ul#breadcrumb
    %li.home
      %a{ :href => '/'} Home
    %li
      %a{ :href => '/services' } Services
    %li
      %a{ :href => "/services/#{@service.slug}" }
        = @service.name
    %li Payments to Suppliers

  %h2= @page_title = @service.name
  
  %p
    A service in the 
    %a{ :href => '/directorates/' + @service.directorate.slug }
      = @service.directorate.name
      Directorate

  %p.noprint
    %a{ :href => "/services/#{@service.slug}" }
      &laquo; Suppliers by Spend summary for
      = @service.name
  
  %p.noprint.download
    %a{ :href => "/services/#{@service.slug}/payments.csv" }
      Download data as CSV
      
.clear

.grid_9 
  
  %h3 Payments to Suppliers

  %table
    %tr
      %th Date
      %th Ref.
      %th Supplier
      %th.right &pound;
        
    - for payment in @service.payments
      %tr
        %td= payment.d.strftime("%d&nbsp;%b&nbsp;%Y")
        %td.right
          %a{ :href => "/payments/#{payment.id}" }
            = payment.id
        %td
          %a{ :href => '/suppliers/' + payment.supplier.slug }
            = payment.supplier.name
        %td.right= commify(sprintf("%0d", payment.amount))
    
    %tr
      %td
      %td
      %td
        %strong TOTAL
      %td.right= commify(sprintf("%0d", @total))
  
.clear
<div class="grid_9 noprint">
= haml_partial "comment_header"
<div id="disqus_thread" class="noprint"></div>
<script type="text/javascript">
var disqus_developer = 1;
(function() {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = 'http://armchairauditor.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=armchairauditor">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink noprint">Comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
    