.grid_12
  %ul#breadcrumb
    %li.home
      %a{ :href => '/'} Home
    %li
      %a{ :href => '/suppliers' } Suppliers
    %li
      = @supplier.name

  %h2= @page_title = @supplier.name + " (Supplier)"

  %p.noprint
    %a{ :href => "http://www.google.co.uk/search?q=#{@supplier.name}" }
      Search Google for
      = @supplier.name

  %p.noprint.download
    %a{ :href => "/suppliers/#{@supplier.slug}.csv" }
      Download data as CSV

  %h3
    Summary for
    = nicedate(@d_start)
    to
    = nicedate(@d_end)

  %table
    %tr
      %th.right Payments
      %th.right Total &pound;
      %th.right Max &pound;
      %th.right Min &pound;
      %th.right Average &pound;

    %tr
      %td.right= commify(@count)
      %td.right= commify(sprintf("%0d", @total))
      %td.right= commify(sprintf("%0d", @max))
      %td.right= commify(sprintf("%0d", @min))
      %td.right= commify(sprintf("%0d", @avg))
      
  %h3 Payments from the Council
  
  %table
    %tr
      %th Date
      %th Ref.
      %th Transaction
      %th Directorate
      %th Service
      %th.right &pound;
        
    - for payment in @supplier.payments
      %tr
        %td= payment.d.strftime("%d&nbsp;%b&nbsp;%Y")
        %td
          %a{ :href => "/payments/#{payment.id}" }
            = payment.id
        %td= payment.transaction_id
        %td
          - unless payment.service.directorate.nil?
            %a{ :href => '/directorates/' + payment.service.directorate.slug }
              = payment.service.directorate.name
        %td
          %a{ :href => '/services/' + payment.service.slug }
            = payment.service.name
        %td.right= commify(sprintf("%0d", payment.amount))
    
    %tr
      %td
      %td
      %td
      %td
        %strong TOTAL
      %td.right= commify(sprintf("%0d", @total))
      
.clear

.grid_9.noprint
  = haml_partial "disqus_comments"