.grid_12
  %ul#breadcrumb
    %li.home
      %a{ :href => '/'} Home
    %li
      %a{ :href => '/suppliers' } Suppliers
    %li
      = @supplier.name

  %h2= @page_title = @supplier.name + " (Supplier)"

  %p.noprint.download
    %a{ :href => "/suppliers/#{@supplier.slug}.csv" }
      Download data as CSV
  
  %table
    %tr
      %th Date
      %th Directorate
      %th Service
      %th.right &pound;
        
    - for payment in @supplier.payments
      %tr
        %td= payment.d.strftime("%d&nbsp;%b&nbsp;%Y")
        %td
          %a{ :href => '/directorates/' + payment.directorate.slug }
            = payment.directorate.name
        %td
          %a{ :href => '/services/' + payment.service.slug }
            = payment.service.name
        %td.right= sprintf("%0d", payment.amount)
    
    %tr
      %td
      %td
      %td
        %strong TOTAL
      %td.right= sprintf("%0d", @total)
      
  